body {
  background: rgba(227, 138, 30, 0.5);
}

h1 {
  text-align: center;
}

.post {
  border: 0.5px solid grey;
  padding-left: 20px;
  border-radius: 5px;
}

.post-form {
  border: 0.5px solid grey;
  padding: 20px;
  border-radius: 5px;
}
