{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Edit Profile</h5>

                <form class="form-signin" action="" method="post">
                  {{ form.hidden_tag() }}
                  <div class="form-label-group">
                    {{ form.username(size=32, id="inputUsername", class="form-control", placeholder="Username", required="required", autofocus="autofocus") }}
                    <label for="inputUsername">Username</label>
                    {% for error in form.username.errors %}
                        <p style="color: red; padding-left: 20px; margin-top: 10px; font-size: 1.2rem">{{ error }}</p>
                    {% endfor %}
                  </div>

                  <div class="form-label-group">
                    {{ form.about_me(size=32, id="inputAboutMe", class="form-control", placeholder="About Me", cols=50, rows=4) }}

                    {% for error in form.about_me.errors %}
                        <p style="color: red; padding-left: 20px; margin-top: 10px; font-size: 1.2rem">{{ error }}</p>
                    {% endfor %}
                  </div>

                  {{ form.submit(class="btn btn-lg btn-primary btn-block text-uppercase") }}
                  <hr class="my-4">
                </form>
              
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- <h1>Edit Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me(cols=50, rows=4) }}<br>
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form> -->
{% endblock %}